.about {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.aboutImageFirst,
.aboutImageSecond {
	margin: 5px;
	width: 700px;
	height: 300px;
}

@media (max-width: 924px) {
	.about {
		margin: 20px 0;
	}
	.aboutImageFirst,
	.aboutImageSecond {
		width: 370px;
		height: 70px;
	}

	.aboutInfoFirst,
	.aboutInfoSecond,
	.aboutInfoThird {
		text-align: center;
		font-size: 15px;
		line-height: 25px;
	}

	.about h1 {
		font-size: 26px;
	}
	.about h2 {
		font-size: 20px;
	}
}
@media (max-width: 675px) {
	.about {
	}
}
