.filter {
	flex: 0.5;
	align-self: flex-start;

	margin: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 15px;
	background-color: var(--white);
}

.select {
	width: 100%;
	padding: 10px;
}
.submitBtn {
	align-self: center;
	width: 150px;
	padding: 10px;
	border: 1px solid var(--dark-gray);
	border-radius: 10px;
	background-color: var(--dark-gray);
	color: var(--white);
	cursor: pointer;
	transition: all 0.3s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}
.submitBtn:hover {
	background-color: var(--accent);
}
/* The switch - the box around the slider */
.switch {
	position: relative;

	width: 30px;
	height: 17px;
}
label,
.switchContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--accent);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media (max-width: 1200px) {
}
@media (max-width: 924px) {
	.filter {
		width: 300px;
		align-self: center;
	}
	.select {
		padding: 5px;
	}
}
@media (max-width: 675px) {
	.filter {
		width: 300px;
	}
}
