.container {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.button {
	text-decoration: none;
	font-size: 14px;
	padding: 15px !important;
	border: none;
	background-color: var(--dark-gray);
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: var(--white) !important;
}

.button:hover {
	color: black !important;
	background-color: var(--light-gray);
}
