.cartItem {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 10px;
}
.cartItem img {
	width: 120px;
	height: 120px;
	border-radius: 20px;
}
.cartItemInfo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}
.cartItemName {
}
.cartItemSpecs {
}
.cartItemPrice {
}
.cartItemCountBox {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.cartItemCountBox button {
	cursor: pointer;
	border: none;
}
.cartItemCount {
	width: 20px;
	height: 20px;
	text-align: center;
}
.cartItemCountButton {
	background: transparent;
	padding: 5px;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cartItemCountButton:hover {
	color: var(--accent);
}
.cartItemDelete {
	margin-top: 10px;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: rgb(214, 129, 129);
	cursor: pointer;
	transition: all 0.3s ease;
	align-self: flex-start;
}
.cartItemDelete:hover {
	background-color: black;
	color: white;
}

@media (max-width: 924px) {
}
@media (max-width: 675px) {
	.cartItem {
		gap: 25px;
	}
	.cartItemInfo {
		display: flex;
		flex-direction: row;
	}
}
