.item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 20px;
	border: 1px solid var(--dark-gray);
	border-radius: 20px;
	align-items: center;
	padding-bottom: 20px;
}
.img {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.buttons {
	display: flex;
}
.button {
	text-decoration: none;
	font-size: 14px;
	padding: 15px !important;
	border: none !important;
	background-color: var(--dark-gray) !important;
	color: white;
	margin: 10px !important;
	border-radius: 10px !important;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	color: black !important;
	background-color: var(--light-gray) !important;
}
.update {
	background-color: yellow !important;
}
.delete {
	background-color: red !important;
}
